<footer>
    <div class="footer-content">
        <p>© 2025 Integrate - ALL RIGHTS RESERVED</p>
        <div class="social-links">
            <a href="https://wa.me/+59892125551"><i class='bx bxl-whatsapp'></i></a>
            <a href="https://instagram.com/_integra.te"><i class='bx bxl-instagram'></i></a>
            <a href="mailto:hola@e-integra.com"><i class='bx bx-envelope'></i></a>
        </div>
    </div>
    <div class="footer-text">
        <p>NUESTRAS REDES SOCIALES</p>
    </div>
</footer>